torch==1.11.0
torchvision==0.12.0
ipython
pillow
numpy
opencv-python
future
tqdm
pyyaml
scipy
tensorboard
joblib
pandas
scikit-image
scikit-learn
tensorboardX
opencv-contrib-python
torchinfo
thop
torchmetrics
